.sidebar{
    background-color: none;
    position: absolute;
    left: 0px;
    max-width: 20%;
    color: #606c71;
    padding-left: 20px;
}
@media screen and (max-width: 800px){
    .sidebar{display: none};
}
