.download_flex_box{
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;	
  align-items: stretch;
  align-content: flex-start;
  margin-bottom: -50px;
}
.download_card{
  border: thin black;
  -webkit-box-shadow: 3px 5px 6px black;
  box-shadow: 3px 5px 6px black;
  padding: 10px;
  flex-grow: 0;
  flex-basis: 150px;
  margin: auto;
  transition: 0.3s;
  margin-bottom: 50px;
  border-radius: 10px;
}
.download_card:hover{
  transition: 0.3s;
  box-shadow: 1px 3px 3px #666666;
}
img{
  border-radius: 10px;
  width:100%;
}