<content>
    <block_box>
    <side_block style="order:0">
    <h4 style="font-weight: normal; color: #159957; font-size:120%;">About Me</h4>
    <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-8008-9014" href="https://orcid.org/0000-0001-8008-9014" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-8008-9014</a></div>
    </side_block>

    <br>

    <side_block style="order: 1;">
    <h4 style="font-weight: normal; color: #159957; font-size:120%;">All Posts</h4>
        {% for tag in site.tags %}
            {{ tag[0] }} [{{tag[1] | size}}]
            <br>
        {% endfor %}
    </side_block>

    <br>

    <side_block style="order: 2;">
    <h4 style="font-weight: normal; color: #159957; font-size:120%;">Link to Other Websites</h4>
    <a href="https://markchenyutian.github.io/GZFLS_Math_Club/">Math Club @ CHGZFLS</a>
    </side_block>
    </block_box>
</content>
